<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


		<!-- JQUERY \ ANGULAR -->	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="../shared/client/third_party/angular-local-storage.min.js"></script>


		<!-- BOOTSTRAP -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />


		<!-- MATERIAL DESIGN -->
		<script type="text/javascript" src="../shared/client/third_party/b-md/arrive.min.js"></script>
		<script type="text/javascript" src="../shared/client/third_party/b-md/material.min.js"></script>
		<link rel="stylesheet" href="../shared/client/third_party/b-md/bootstrap-material-design.min.css" />
		<script type="text/javascript" src="../shared/client/third_party/b-md/ripples.min.js"></script>
		<link rel="stylesheet" href="../shared/client/third_party/b-md/ripples.min.css" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script>$.material.init();</script>

	
		<!-- FONTS -->
		<link href="../shared/client/third_party/fonts/infiniti/stylesheet.css" rel="stylesheet" type="text/css" />		
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

		
		<!-- IOS STUFF -->
		<script src="../shared/client/third_party/inobounce.min.js"></script>

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-title" content="Add to Home">
		<link rel="shortcut icon" sizes="16x16" href="../shared/client/third_party/cubiq/images/icon-16x16.png">
		<link rel="shortcut icon" sizes="196x196" href="../shared/client/third_party/cubiq/images/icon-196x196.png">
		<link rel="apple-touch-icon-precomposed" href="../shared/client/third_party/cubiq/images/icon-152x152.png">
		<!--link rel="apple-touch-icon-precomposed" sizes="152x152" href="icon-152x152.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="icon-144x144.png">
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="icon-120x120.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="icon-114x114.png">
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="icon-76x76.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="icon-72x72.png"-->
		<link rel="stylesheet" type="text/css" href="../shared/client/third_party/cubiq/addtohomescreen.css">
		<script src="../shared/client/third_party/cubiq/addtohomescreen.min.js"></script>
		<script>addToHomescreen({detectHomescreen: true});</script>


		<!-- APP -->
		<script src="server/whym_admin.php?lib=js"></script>
		<link href="server/whym_admin.php?lib=css" rel="stylesheet" type="text/css" />

	</head>
	
	<body  ng-app="whymApp" ng-controller="whymCtrl">
	
		
		<!-- INTERNAL APP FRAME -->
		<div class="appFrame scrollable" >
		
			
			<!-- MAIN CONTENT -->
			<div class="mainContent">

				<!-- LOADING INTERFACE -->
				<div class="loadingFrame" ng-if="view=='loading'" >
					<div class="loginMain">
						<p>Loading...</p>
						<img src="../shared/client/images/loading.gif" />
					</div>
				</div>
		
				<!-- LOGIN INTERFACE -->
				<div class="loginFrame" ng-if="view=='login'" >
					<div class="loginTop">
						<div class="title">What is {{appName}}?</div>
					</div>
					<div class="loginMain">
						<p>Click below to start using {{appName}}</p>
						<div class="btnFrame">
							<a ng-click="UserSystem.login()">
								<img src="../shared/client/images/fbcnct.png" />
							</a>
						</div>
					</div>
				</div>
				
				
				
				
			</div>

		</div>

		<!-- FOOTER: MENU -->
		<div class="footer panel panel-default" ng-if="footer.show">
			<div class="footer_nav">
				<div class="link checkIn" ng-click="checkinController.open()"
					ng-class="{active : currentComponent == 'checkin'}">
					<i class="glyphicon glyphicon-edit"></i>
					<div>Check-In</div>
				</div>
				<div class="link search" ng-click="loadView('search')"
					ng-class="{active : currentComponent == 'search'}">
					<i class="glyphicon glyphicon-search"></i>
					<div>Search</div>
				</div>
				<div class="link feed" ng-click="feedController.open()"
					ng-class="{active : currentComponent == 'feed'  && screen == 'feed'}">
					<i class="glyphicon glyphicon-globe"></i>
					<div>Feed</div>
				</div>
				<div class="link recents" ng-click="feedController.loadRecents()"
					ng-class="{active : currentComponent == 'feed' && screen == 'recents'}">
					<i class="glyphicon glyphicon-time"></i>
					<div>Recents</div>
				</div>
				<div class="link account" ng-click="acctController.startFlow()"
					ng-class="{active : currentComponent == 'account'}">
					<i class="glyphicon glyphicon-user"></i>
					<div>Account</div>
				</div>
			</div>
		</div>	
		
		

		
		<!-- MODAL TEMPLATES -->
		<div style="display: none;">

			
			
		</div>		
	</body>
</html>