
/*
	AVAILABLE FONTS
		- font-family: 'infiniregular',Helvetica,Arial,sans-serif;
		- font-family: 'Open Sans', sans-serif;
*/
html 			{ height: 100%; }

body			{ 	margin: 0; font-family: 'Open Sans', sans-serif;  background: #efede7; 
					display: flex; flex-direction: column; height: 100%; overflow: hidden; width: 100%; }
a				{ cursor: pointer; }
img				{ display: block; }

.scrollable{min-height:0;-webkit-box-flex:1;box-flex:1;-webkit-flex:1;flex:1;overflow-y:auto;-webkit-overflow-scrolling:touch}


/* LOADING */
.loadingMain 			{ 	position: fixed;  height: 100px; top: 50%; margin-top: -50px;
							text-align: center; width: 300px; left: 50%; margin-left: -150px; }
.loadingMain img 			{ display: block; width: 200px; margin: 0px auto; }


/* LOGIN */
.loginFrame 			{  }
.loginMain 				{ 	position: fixed;  height: 100px; top: 50%; margin-top: -50px;
							text-align: center; width: 300px; left: 50%; margin-left: -150px; }
.loginMain .btnFrame 	{  }
.loginMain img 			{ display: block; width: 200px; margin: 0px auto; }

/* LOGIN - NOT USED */
.loginTop 				{ display: none;  height: 100px; padding-top: 60px; background: #66ffcc; }
.loginTop .title 		{ font-size: 20px; text-align: center; }


/* FOOTER */
.footer						{ display: flex; flex-direction: row; height: 45px; line-height: 32px; width: 100%; 
								background: white; color: #777; font-size: 18px; margin: 0;}
.footer_nav					{ width: 100%; max-width: 500px; margin: 0px auto; }
.footer .link:first-child 	{ border-left: none; }
.footer .link 				{ text-align: center; cursor: pointer; border-left: dashed 1px #ccc; height: 45px; width: 20%; float: left;}
.footer .link:hover 		{ color: black; }
.footer .link div 			{ font-size: 10px; color: #777; line-height: 4px; }
.footer .link:hover  div	{ color: black; }
.footer .link.active		{ color: #3b5998 !important; }
.footer .link.active div	{ color: #3b5998 !important; }

/* MAIN CONTENT */
.appFrame 				{ flex: 1 1 0;  }
.mainContent 			{ max-width: 500px; margin: 0 auto;}
.primaryFrame			{ padding: 0px 16px 0; background: white;}
.primaryFrame h2		{ margin-top: 0; font-weight: normal; }

/* EDIT ACCOUNT */
#user_bio 			{ display: block; width: 100%; height: 205px; font-size: 12px;}

/* MAKE CHECKIN */
.checkinImage		{ display: block; margin: 4px auto; max-width: 100%; }
#newcheckin_message	{ font-size: 12px; height: 75px;}

/* BROWSE CHECKINS */
.checkinList		{ min-height: 100%; }
.checkin 			{ padding: 8px 0; border-bottom: dashed 1px #ccc; }
.checkin:last-child { border-bottom: none; }
.checkin .icon 		{ float: left; margin-right: 16px; }
.checkin .icon img	{ border-radius: 50%; height: 50px; width: 50px; }
.checkin .text		{ float: left; }
.checkin .name		{ line-height: 30px; font-size: 17px; }
.checkin .info		{ line-height: 20px; font-size: 11px; }
.checkin .message	{ line-height: 20px; font-size: 11px; font-style: italic; }

/* SEACH */
.form-group 	{ margin-top: 0;}
.form-group label, .form-group label.control-label	{ margin-top: 0;}
.mainContent select, .mainContent input { margin-top: 0; padding-top: 0;}
label .toggle { padding-right: 20px;}
label .toggle:nth-child(3) { display: none;}
.toggledOn { color: black !important;}

/* PERSON PAGE */
.personView 						{ }
.personView h3						{ text-align: center; padding-top: 10px;  font-family: 'infiniregular',Helvetica,Arial,sans-serif; margin-top: 0}
.personView .featureProfilePic		{ max-width: 50%; margin: 0px auto; border-radius: 10px;  }
.personView .checkinInfo			{ text-align: center; margin: 0; }
.personView .checkinInfo b			{ padding-top: 5px; display: block}
.personView .messageBtn				{ margin: 20px 50px; display: block;}

.personView .profile				{ width: 70%; margin: 0px auto; text-align: center; font-size: 13px;}
.personView .bottomLinks 			{ text-align: center; font-size: 11px; padding-bottom: 10px; }
.personView a 						{ display: block; padding: 5px; }
.personView .checkin_caption		{ font-size: 12px; font-style: italic; }

/* CHAT */
.chatHeader 			{ display: flex; flex-direction: row;  height: 50px; line-height: 45px; width: 100%; 
							background: white; color: #777; border-bottom: solid 1px #ccc; }
.chatHeader a			{ color: #777; }
.chatHeader .center 	{ text-align: center; font-size: 13px; font-family: 'infiniregular',Helvetica,Arial,sans-serif; }
.chatHeader .personIcon { float: right; height: 50px; padding: 8px }
.btn.btn-fab-micro			{ height: 25px; width: 25px; min-width: 25px; }
.btn-fab-micro .material-icons	{ font-size: 15px; }


.chatInput 				{ display: flex; flex-direction: row; height: 60px; width: 100%; 
							z-index: 5; background: white; color: #777; border-top: solid 1px #ccc; }
.chatInput textarea		{ margin: 5px; display: block; width: 100%; height: 54px; margin: 3px 0; 
							padding: 5px; font-size: 11px; color: black; }
.chatInput a			{ font-size: 11px; padding: 0; line-height: 60px; margin: 0; display: block; text-align: center; }

.dialogueFrame 			{ padding: 10px 15px;}
.dialogueFrame .speech	{ clear: both; border-radius: 5px; padding: 5px 10px; margin: 4px 0; font-size: 15px; line-height: 18px; }
.dialogueFrame .me		{ float: right; background: green; color: white; }
.dialogueFrame .them	{ float: left; background: #ccc; }


