

/*
	AVAILABLE FONTS
		- font-family: 'infiniregular',Helvetica,Arial,sans-serif;
		- font-family: 'Open Sans', sans-serif;
*/
html 			{ height: 100%; }

body			{ 	margin: 0; font-family: 'Droid Sans', sans-serif; background:  #395693; 
					display: flex; flex-direction: column; height: 100%; overflow: hidden; width: 100%; ;}
a				{ cursor: pointer; border: none !important;}
img				{ display: block; }



a::-moz-focus-inner {
  border: 0;
}

a:focus, button:focus { 
    outline: none; 
}



.scrollable{min-height:0;-webkit-box-flex:1;box-flex:1;-webkit-flex:1;flex:1;overflow-y:auto;-webkit-overflow-scrolling:touch}
@media only screen and (min-device-width: 768px) {
	.scrollable {
		overflow-y: scroll;		
	}

}


.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, 
.pagination > .active > span:focus, .pagination > .active > span:hover {
	background-color: #777;
	border-color: #eee;
	color: white;
}
.pagination > li > a, .pagination > li > span {
	color: #777;
}

.mainContent .panel { padding: 10px; }

/* LOADING */
.loadingMain 			{ 	position: fixed;  height: 100px; top: 50%; margin-top: -50px;
							text-align: center; width: 300px; left: 50%; margin-left: -150px; }
.loadingMain img 			{ display: block; width: 200px; margin: 0px auto; }


/* HEADERS */
.header 		{ text-shadow: 1px 1px black; font-size: 18px; text-align: center; padding: 15px 0 10px; font-weight: bold; color: white; }


/* LOGIN */
.loginFrame 			{  }
.loginMain 				{ 	position: fixed;  height: 100px; top: 50%; margin-top: -50px;
							text-align: center; width: 300px; left: 50%; margin-left: -150px; }
.loginMain .btnFrame 	{  }
.loginMain img 			{ display: block; width: 200px; margin: 0px auto; }

/* LOGIN - NOT USED */
.loginTop 				{ display: none;  height: 100px; padding-top: 60px; background: #66ffcc; }
.loginTop .title 		{ font-size: 20px; text-align: center; }


/* FOOTER */
.footer						{ display: flex; flex-direction: row; height: 45px; line-height: 32px; width: 100%; 
								background: #eee; color: #777; font-size: 18px; margin: 0;}
.footer_nav					{ width: 100%; max-width: 500px; margin: 0px auto; }
.footer .link:first-child 	{ border-left: none; }
.footer .link 				{ text-align: center; cursor: pointer; border-left: dashed 1px #ccc; height: 45px; width: 33%; float: left;}
.footer .link:hover 		{ color: black; }
.footer .link div 			{ font-size: 10px; color: #777; line-height: 4px; }
.footer .link:hover  div	{ color: black; }
.footer .link.active		{ color: #3b5998 !important; }
.footer .link.active div	{ color: #3b5998 !important; }

/* MAIN CONTENT */
.appFrame 				{ flex: 1 1 0;  }
.mainContent 			{ max-width: 500px; margin: 0 auto; overflow: hidden;}
.primaryFrame			{ padding: 16px 16px 0;}
.primaryFrame h2		{ margin-top: 0; font-weight: normal; }

/* EDIT ACCOUNT */
.accountFrame		{ padding: 15px; }
#user_bio 			{ display: block; width: 100%; height: 205px; font-size: 12px;}


/* AVAILABILITY ACCORDION */
.scheduleWidget .header			{ margin-bottom: 15px }
.panel.panel-default > .panel-heading, .panel > .panel-heading { background: white }
.scheduleWidget .panel			{ padding: 0 }
.scheduleWidget .panel-body		{ border-top: dashed 1px #ccc !important; }
.panel-heading 					{ padding: 0; }
.panel-heading a 				{ padding: 10px 15px; display: block; }
.scheduleWidget .toggleLink 	{ font-size: 12px; text-align: center; color: #aaa; padding-top: 15px; cursor: pointer;}
.scheduleWidget .toggledOn 		{ color: black;}




/* BROWSE ORGS */
.listInput 						{ padding: 15px 15px 0; }
.organizationListFrame 			{ padding: 0 15px; }
.organizationListFrame .title 	{ color: #ccc; text-transform: uppercase; padding-bottom: 10px }
.organizationList				{ min-height: 100%; width: 100%;  }

.orgResult 						{ padding: 8px 0; border-bottom: dashed 1px #ccc; }
.orgResult:last-child 			{ border-bottom: none; }
.orgResult .icon 				{ padding: 8px 16px 8px 16px; }
.orgResult .icon img			{ border-radius: 50%; width: 60px; }
.orgResult .text				{ padding: 8px 16px 8px 0; }
.orgResult .name				{ line-height: 20px; font-size: 15px; }
.orgResult .info				{ line-height: 20px; font-size: 11px; }
.orgResult .message				{ line-height: 20px; font-size: 11px; font-style: italic; }

.orgResult .inboxCount	{ background: red; height: 30px; line-height: 30px; width: 30px; text-align: center; color: white; border-radius: 15px; font-size: 13px; margin-right: 10px }



/* RESULTS PANEL */
.orgPanels 					{ text-align: center; padding-top: 10px; }
.orgPanels img 				{ width: 100px; height: 100px; border-radius: 50px; display: inline-block; margin-bottom: 10px }
.orgPanels .name			{ font-size: 12px;  }
.orgPanels .orgFrame 		{ }
.orgPanels .panel 			{ cursor: pointer; border-radius: 12px; }
.orgPanels .panel:hover 	{ background: #f0f0f0; }



/* ORGANIZATION */
.organization 					{ width: 200%; background: white; }
.bottom_layer 					{ width: 50%; float: left; }
.top_layer 						{ width: 50%; float: left; }




.orgHeader						{ }
.orgHeader .toggleFrame 		{ width: 25%; float: left; text-align: center;}
.orgHeader .toggle				{ width: 40px; height: 40px; border-radius: 20px; border: solid 1px black !important; display: block; padding: 4px; display: inline-block;}
.orgHeader .dot 				{ width: 30px; height: 30px; border-radius: 15px;  }
.orgHeader .reject .dot 		{ background: red; }
.orgHeader .accept .dot 		{ background: green; }
.orgHeader .imageFrame 			{ width: 50%; float: left; text-align: center; padding: 15px;}
.orgHeader img					{ display: inline-block; width: 100%; border-radius: 50%; }

.organization .orgTitle 		{ font-size: 20px; line-height: 32px; font-weight: bold; padding-bottom: 0 }

.orgDivTitle 					{ font-weight: bold; padding-bottom: 5px; }
.orgDiv 						{ line-height: 24px; padding: 20px 15px; border-bottom: solid 1px #ddd }
.orgDiv:last-child 				{ border: none; }
.orgDiv.description 			{ padding-top: 0 }
.orgTitle 						{ border-bottom: none }

.orgDiv.photos img 				{ width: 100%; max-width: 400px }

.read_more 						{ color: #ff5a5f; padding-top: 5px; }

.linkFrame 						{ padding: 10px 0; border-bottom: dashed 1px #ccc; }

.organization .contactInfo 		{ font-size: 14px; color: black;}
.organization .contactInfo a	{ display: block; padding: 10px 0; }
.organization .photo			{ margin: 10px 0; }
.organization .photo img		{ max-width: 100% }



/* SEACH */
.form-group 	{ margin-top: 0;}
.form-group label, .form-group label.control-label	{ margin-top: 0;}
.mainContent select, .mainContent input { margin-top: 0; padding-top: 0;}
label .toggle { padding-right: 20px;}
label .toggle:nth-child(3) { display: none;}
.toggledOn { color: black !important;}

/* PERSON PAGE */
.personView 						{ }
.personView h3						{ text-align: center; padding-top: 10px;  font-family: 'infiniregular',Helvetica,Arial,sans-serif; margin-top: 0}
.personView .featureProfilePic		{ max-width: 50%; margin: 0px auto; border-radius: 10px;  }
.personView .checkinInfo			{ text-align: center; margin: 0; }
.personView .checkinInfo b			{ padding-top: 5px; display: block}
.personView .messageBtn				{ margin: 20px 50px; display: block;}

.personView .profile				{ width: 70%; margin: 0px auto; text-align: center; font-size: 13px;}
.personView .bottomLinks 			{ text-align: center; font-size: 11px; padding-bottom: 10px; }
.personView a 						{ display: block; padding: 5px; }
.personView .checkin_caption		{ font-size: 12px; font-style: italic; }



/* UPDATES */
.updateList 				{  }
.updateList .update 		{ padding: 8px; position: relative; margin-bottom: 15px; background: white; display: block;}
.updateList .topLine		{ padding-bottom: 8px }
.updateList .date			{ color: #9197a3; font-size: 11px; float: left; }
.updateList .utilities		{ float: right; color: #9197a3; font-size: 12px;}
.updateList .utilities i	{ cursor: pointer; }
.updateList i.glyphicon:hover	{ color: black; }
.updateList .title 			{ font-weight: bold; font-size: 13px; margin-bottom: 3px}

.updateList .body 						{ font-size: 12px; padding-bottom: 5px }
.updateList .event 						{ padding-top: 15px; margin-top: 15px; border-top: dashed 1px #ccc; color: black; display: block;}
.updateList .event .imgFrame 			{ padding-right: 10px; width: 70px; float: left;}
.updateList .event img 					{ width: 100%; height: auto; }
.updateList .event .event_details 		{ float: left; }
.updateList .event .location			{ font-size: 12px;}



/* PHOTOS */
.photoList 				{ text-align: center; }
.photoList .photo 		{ padding: 10px; margin-left: 10px; margin-right: 10px; background: white; text-align: center; display: inline-block; max-width: 100%}
.photoList .photo img	{ max-width: 100%; max-height: 300px; display: inline-block; }
.photoList .caption		{ font-size: 12px; padding-top: 5px }



